@charset "UTF-8";
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Стили для обнуления верхних отступов у элементов */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, img {
  display: block;
}

ol, ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: #757575;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  line-height: 1;
  letter-spacing: 0.03em;
  font-size: 14px;
  font-weight: 400;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
/*button-banner*/
@media screen and (max-width: 767.98px) {
  main {
    padding-top: 61px;
  }
}

.banner .button, .subscription .button, .form .button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  min-width: 200px;
  max-height: 50px;
  background-color: #2196f3;
  font-family: inherit;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 375px) {
  .button {
    padding: 10px 32px;
  }
}
.banner button:hover, .subscription button:hover, .form .button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.banner button:active, .subscription button:active, .form .button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.button-project {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  height: 38px;
  background-color: #f5f4fa;
  border: 0;
  border-radius: 4px;
  line-height: 1.63;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  margin-right: 8px;
  padding: 6px 22px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-active {
  background-color: #2196f3;
  color: #fff;
}

.button-project:hover {
  background-color: #2196f3;
  color: #fff;
}

/* modal__botton-x */
.modal__button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: backgound 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: backgound 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover {
  background: #2196f3;
  fill: #fff;
  cursor: pointer;
}

.button-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-icon .header__icon, .spacial__icon, .subscription__icon--button {
  margin-left: 10px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
/*button-banner*/
@media screen and (max-width: 767.98px) {
  main {
    padding-top: 61px;
  }
}

.banner .button, .subscription .button, .form .button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  min-width: 200px;
  max-height: 50px;
  background-color: #2196f3;
  font-family: inherit;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 375px) {
  .button {
    padding: 10px 32px;
  }
}
.banner button:hover, .subscription button:hover, .form .button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.banner button:active, .subscription button:active, .form .button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.button-project {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  height: 38px;
  background-color: #f5f4fa;
  border: 0;
  border-radius: 4px;
  line-height: 1.63;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  margin-right: 8px;
  padding: 6px 22px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-active {
  background-color: #2196f3;
  color: #fff;
}

.button-project:hover {
  background-color: #2196f3;
  color: #fff;
}

/* modal__botton-x */
.modal__button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: backgound 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: backgound 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover {
  background: #2196f3;
  fill: #fff;
  cursor: pointer;
}

.button-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-icon .header__icon, .spacial__icon, .subscription__icon--button {
  margin-left: 10px;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/* form-shield-modal-icon */
.form__field {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  position: relative;
}

.form__input {
  margin-top: 4px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px 11px 42px;
  font-size: 14px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field textarea {
  margin-top: 4px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 16px;
  font-size: 14px;
  resize: none;
}

.form .button {
  display: block;
  margin: 0 auto;
}

.form__input:focus, .form__field:focus .form__icon, .form__field:focus-within .input__icon {
  border-color: #2196f3;
  fill: #2196f3;
}

.form__input:focus ~ .form__icon {
  fill: #2196f3;
}

.header__icon, .clients__icon, .spacial__icon, .network__icon, .subscription__icon {
  fill: currentColor;
  display: block;
  -ms-flex-item-align: center;
      align-self: center;
}

@media screen and (max-width: 767.98px) {
  .header__icon svg {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .header__phone svg {
    display: none;
  }
}

.header__contacts .header__icon, .spacial__icon, .network__icon {
  margin-right: 10px;
}

.form__icon {
  position: absolute;
  top: 50%;
  outline: none;
  left: 12px;
}

.form__checkbox--icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1.7px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.header__logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1666666667;
  color: #000;
  letter-spacing: 0.03em;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

/*logo-footer*/
.logo, .bottom {
  display: block;
  color: #fff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 20px;
}

.span {
  color: #2196f3;
}

.overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #fff;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.spacial-slogan {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 767.98px) {
  .list {
    gap: 30px;
  }
}

.header__link-active--marker, .header__link {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .header__link-active--marker, .header__link {
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 767.98px) {
  .header__link-active--marker, .header__link {
    font-size: 40px;
  }
}

.header__menu a {
  color: #212121;
  text-decoration: none;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .header__menu a {
    padding: 32px 0px;
  }
}

li > .header__link-active, .header__link:hover, .header__menu a:focus {
  color: #2196f3;
}

.header__link-active.header__link-active--marker::after, .header__link:hover::after, .header__link:focus::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__menu a:hover, .header__link-active {
  color: #2196F3;
}

.menu-btn {
  display: none;
}
@media screen and (max-width: 767.98px) {
  .menu-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 11;
    display: block;
    padding: 0;
    border: none;
    color: #000;
    background-color: #fff;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-btn:hover, .menu-btn:focus {
    color: #2196f3;
  }
}

.menu-btn__icon {
  fill: currentColor;
}

.menu-btn__open {
  display: block;
}
.is-open .menu-btn__open {
  display: none;
}

.menu-btn__close {
  display: none;
}
.is-open .menu-btn__close {
  display: block;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (max-width: 767.98px) {
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    visibility: hidden;
    -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 48px 15px 48px 40px;
    width: 100%;
    height: 100vh;
    background-color: #fff;
  }
  .mobile-menu.is-open {
    z-index: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    visibility: visible;
    overflow-y: scroll;
  }
}

.mobile-menu__socials {
  display: none;
}
@media screen and (max-width: 767.98px) {
  .mobile-menu__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.mobile-menu__item:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.mobile-menu__item:not(:last-child)::after {
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  background-color: rgba(33, 33, 33, 0.2);
}

.mobile-menu__link {
  display: block;
  font-weight: 500;
  color: #2196f3;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
}

/*adress-footer*/
.adress-item {
  margin-bottom: 9px;
}

.adress-item, .adress-link {
  color: #fff;
  font-style: 14px;
  line-height: 1.71;
  font-weight: 400;
}

/* adress-icons */
.adress-item:not(:first-child) .adress-link {
  color: rgba(255, 255, 255, 0.6);
}

.adress-item:not(:first-child) .adress-link:hover,
.adress-item:not(:first-child) .adress-link:focus {
  color: #2196f3;
}

.adress-link:hover,
.adress-link:focus {
  color: #2196f3;
}

.adress-link {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 165px;
       -moz-column-gap: 165px;
            column-gap: 165px;
    row-gap: 60px;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.clients__item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}
@media screen and (min-width: 768px) {
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.bottom {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__contacts {
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .footer__contacts {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    text-align: left;
  }
}

/* checkbox-icon */
.form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  margin-bottom: 30px;
}

.form__checkbox--checkbox {
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  -webkit-transition: backgound-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: backgound-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* chekbox-icon:checked */
.form__checkbox--checkbox:checked + .form__checkbox--icon {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url(../images/icon_checked.svg);
  background-size: contain;
  background-origin: border-box;
}

.form__checkbox--text {
  padding-top: 2px;
}

.form__checkbox--text-link {
  color: #2196f3;
  text-decoration: underline;
}

.header-content {
  border-bottom: 1px solid;
  border-color: #ECECEC;
}

@media screen and (max-width: 767.98px) {
  .header__container {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 10;
    background-color: #fff;
    border-bottom: 1px solid #ececec;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

nav {
  margin-bottom: auto;
}
@media screen and (min-width: 768px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__contacts {
  list-style: none;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1666666667;
}
@media screen and (max-width: 767.98px) {
  .header__contacts {
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 767.98px) {
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 32px;
  }
}

.header__email-contact, .header__phone {
  text-decoration: none;
  color: #757575;
}

.header__contacts a:hover, .header__contacts a:focus {
  text-decoration: none;
  color: #2196f3;
}

.header__email-contact, .header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767.98px) {
  .header__email-contact, .header__phone {
    color: #2196f3;
    font-size: 34px;
    line-height: 1.1764705882;
    white-space: nowrap;
  }
}
@media screen and (max-width: 767.98px) and (max-width: 350px) {
  .header__email-contact, .header__phone {
    font-size: 9vw;
  }
}

/*header-menu*/
@media screen and (min-width: 768px) {
  .header__menu li:last-child {
    margin-right: 0px;
  }
}
@media screen and (max-width: 767.98px) {
  .header__menu li:last-child {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .header__menu li {
    margin-right: 50px;
  }
}
@media screen and (max-width: 767.98px) {
  .header__menu li {
    margin-bottom: 32px;
  }
}

.header__menu {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) {
  .header__contacts li:last-child {
    margin-right: 0px;
  }
}

.header__menu a:hover, .header__link-active {
  color: #2196F3;
}

.header__menu li {
  position: relative;
  width: 100%;
}

/* main-team */
.team-heading {
  letter-spacing: 0.06em;
  line-height: 2;
  font-size: 18px;
  font-weight: 700;
  color: #212121;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.team-text {
  margin: 0 24px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.team-member {
  padding: 30px 32px;
}

.main-thing {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__text-title {
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: 700;
  width: 100%;
  height: 70px;
  text-align: center;
  padding: 27px 0px 27px 0px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-transform: uppercase;
}

/*main*/
/*banner*/
.banner {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  min-height: 400px;
  max-width: 480px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/mobile-banner.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mobile-banner.jpg);
  background-color: #2f303a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/mobile-banner@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mobile-banner@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .banner {
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 600px;
    max-width: 1600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/banner@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/banner@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .banner {
    padding-bottom: 118px;
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/tablet-banner.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet-banner.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/tablet-banner@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet-banner@2x.jpg);
  }
}

/* banner-text */
.banner__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  font-weight: 900;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .banner__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

@media screen and (min-width: 768px) {
  .banner__title {
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.61;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 360px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
  }
}
/* Data-modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  height: 100%;
  background: rgda(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  max-width: 450px;
  width: calc(100% - 30px);
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    width: 450px;
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop--is-hidden .modal {
    -webkit-transform: translate(-50%, -50%) scale(0.7);
            transform: translate(-50%, -50%) scale(0.7);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.blackdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.2);
          transform: translate(-50%, -50%) scale(0.2);
  opacity: 0;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: #212121;
}

/* network-icons */
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.call-of-action {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}

.network-container {
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .network-container {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .network-container {
    margin-left: 85px;
    text-align: left;
  }
}

/*portfolio-img-list*/
.portfolio-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.portfolio-team:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-team:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.project-info {
  border-left: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
  border-bottom: 1px solid #ECECEC;
}

.portfolio-photocard {
  overflow: hidden;
  position: relative;
}

.portfolio-team {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.portfolio-team:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: #fff;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item {
  display: block;
}

/* portfolio__link */
.portfolio__link:hover .overlay, .portfolio__link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

a {
  text-decoration: none;
  color: inherit;
}

.portfolio__link {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.main-team .social-network {
  color: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-list .social-network {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-network:hover, .social-network:focus {
  background-color: #2196f3;
  color: #fff;
}

.social-network {
  display: block;
  padding: 12px;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.network:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .spacials {
    padding-bottom: 0px;
  }
}

.spacial {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .spacial:not(:last-child) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .spacial:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .spacial:not(:last-child) {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .spacial:not(:last-child) {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  padding: 25px 100px;
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  max-width: 450px;
}

li > .spacial-heading {
  text-transform: uppercase;
  font-weight: 700;
  color: #212121;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767.98px) {
  li > .spacial-heading {
    text-align: center;
  }
}

.spacial-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* subscription */
@media screen and (max-width: 1199.98px) {
  .subscription {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscription {
    margin-left: auto;
  }
}

@media screen and (max-width: 1199.98px) {
  .subscription__field {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.subscription__input {
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  border: none;
  background-color: transparent;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .subscription__input {
    margin-right: 12px;
  }
}
@media screen and (max-width: 1199.98px) {
  .subscription__input {
    margin-bottom: 20px;
  }
}

.subscription__input:focus {
  outline: 1px solid #2196f3;
}

.team {
  display: block;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team {
    display: block;
    width: 354px;
    height: 374px;
  }
}
.team-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
    height: 536px;
  }
}
.team-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.team-item-header {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
  text-align: center;
}

.team-item-text {
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: inherit;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .team-item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.team-social-item {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/**/
.team-social-link {
  color: #afb1b8;
}

/*photo-index-page*/
.thing {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.thing:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main__header {
  font-size: 36px;
  font-weight: 700;
  color: #212121;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .main__header {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .main__header {
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 30px;
  }
}
.main-team {
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .main-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.photo,
.photo-team {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .photo, .photo-team {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.photo-item {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

@media screen and (max-width: 1199.98px) {
  .main-thing {
    display: none;
  }
}
/*hiiden-text*/
.thing-caption {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 370px;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #fff;
  text-align: center;
  line-height: 70px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 700;
  opacity: 0;
}/*# sourceMappingURL=main.css.map */