
.bottom{
    background-color: $dark-bg-color;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__contacts {
  @include mq(mobile-only) {
    margin-bottom: 60px;
  }

  text-align: center;

  @include mq(desktop) {
    text-align: left;
  }
}