 /*header-menu*/
 .header__menu li{
    &:last-child { 
    @include mq(tablet){
    margin-right: 0px;
    }
    @include mq(mobile-only){
         margin-bottom: 32px;
    }
        }
    @include mq(tablet){
         margin-right: 50px;
    }
     @include mq(mobile-only){
         margin-bottom: 32px;
    }
    
}

.header__menu{
    list-style: none;
    font-weight: 500;
    font-size: 14px;

    @include mq(tablet) {
            display: flex;
    margin-left: 93px;

    }

     }

.header__contacts li:last-child {
       
        @include mq(tablet){
         margin-right: 0px;
    }
    
    }
    
   

        
.header__menu a:hover, .header__link-active {
    color: #2196F3;
}

.header__menu li {
    position: relative;
    width: 100%;
}

        
       
