.header__contacts {
    @include mq(tablet) {
         font-size: 12px;
    line-height: calc(14 / 12);
          margin-left: auto;
          
        }
            @include mq(desktop) {
                display: flex;
                gap: 30px;
          font-size: 14px;
             line-height: calc(16 / 14);
          margin-left: auto;
        }
    list-style: none;
    font-weight: 500;
    line-height: calc(28 / 24);

      @include mq(mobile-only) {
        margin-bottom: 64px;
      font-size: 24px;
  }

  @include mq(mobile-only) {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
  }
}



.header__contacts li{
    padding-top: 5px;
padding-bottom: 5px;
 a {
    @include mq(tablet-only){
        margin-right: 0px;
    }
    margin-right: 10px;
 }
 svg {
    margin-right: 10px;
 }

}


.header__email-contact, .header__phone {
    text-decoration: none;
    color: $main-color;
}

.header__contacts a:hover, .header__contacts a:focus {
    text-decoration: none;
    color: $accent-color;
}


.header__email-contact, .header__phone {
    display: flex;
    @include mq(mobile-only){
         color: $accent-color;
      font-size: 34px;
      line-height: calc(40 / 34);

      @media screen and (max-width: 350px) {
        font-size: 9vw;
      }
    white-space: nowrap;

}
}