 /*header-menu*/
 .header__menu li{
    margin-right: 50px;
    
}

.header__menu{
    list-style: none;
    display: flex;
    margin-left: 93px;
    font-weight: 500;
    font-size: 14px;
    
    }

    .header__menu li:last-child, .header__contacts li:last-child {
        margin-right: 0px;
    }
    
   
    .header__menu{
        list-style: none;
        display: flex;
        margin-left: 93px;
        font-weight: 500;
        font-size: 14px;
        
        }

        
.header__menu a:hover, .header__link-active {
    color: #2196F3;
}

.header__menu li {
    position: relative;
    width: 100%;
}

        
       
