
/* main-team */
.team-heading {
    letter-spacing: 0.06em;
    line-height: 2;
    font-size: 18px;
    font-weight: 700;
    color: $header-color;
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
}
  
.team-text {
    margin: 0 24px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.team-member {
    padding: 30px 32px;
}


