
.main-team .social-network {
    color: $team-social-color;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-list .social-network {
    color: $main-bg-color;
    background-color: rgba(255, 255, 255, 0.1);
}

.social-network:hover, .social-network:focus {
    background-color: $accent-color;
    color: $main-bg-color;
}

.social-network {
    display: block;
    padding: 12px;
    height: 44px;
    width: 44px;
    border-radius: 50%;
}

.network:not(:last-child) {
    margin-right: 10px;
}