.spacials{
    padding-bottom: 0px;
}

li > .spacial-heading {
    text-transform: uppercase;
    font-weight: 700;
    color: $header-color;
    margin-bottom: 10px;
    letter-spacing: 0.03em;
}

.spacial-text{
    line-height: 1.71;
    letter-spacing: 0.03em;
}
