
.form .button {
    display: block;
    margin: 0 auto;
}

.form__input, .form__field .form__icon, .form__field:focus-within .input__icon {
    &:focus {
    border-color: $accent-color;
    fill: $accent-color;
}
}

.form__input:focus ~ .form__icon {
    fill: $accent-color;
}
