body {
    color: $main-color;
    font-family: $main-font-family;
    background-color: $main-bg-color;
    line-height: 1;
    letter-spacing: 0.03em;
    font-size: 14px;
    font-weight: 400;
    
}